@media only screen and (max-width: 1024px) {
	#ba-desktop{
		display: none;
	}
	#slider-home .item img{
		height: 500px;
	}
	.video-second .item-vd .video-r .view-fb li{
		margin-right: 2px;
	}
	.slider-mobile{
		display: block!important;
	}
	.top-footer .desc{
		padding-right: 0;
	}
	.video-home .video-primary{
		margin-bottom: 10px;
	}
	.video-second .item-vd .video-l img{
		height: 150px
	}
	.video-second .item-vd .video-r{
		height: 150px;
	}
	}
@media only screen and (max-width: 768px) {
#main-menu .row .col-md-2{
	width: 100%;
	text-align: center;
}
#main-menu .col-md-10{
	display: none;
}
.logo{
	margin: 0;
	padding:10px;
}
.hc-nav-trigger.hc-nav-1{
	display: block!important;
}
.second-nav{
	display: block;
}
#slider-home .item img{
	height: 300px;
}
.top-content .nav-top-content .icon{
	height: 120px;
}
.nav-top-content .item{
	margin-bottom: 15px;
}
.nav-course-home .item{
	margin-bottom: 15px;
}
.slider-large{
	width: 100%;
}
.traditional-image .title1{
	font-size: 20px;
}
.title-title .title-primary{
	font-size: 30px;
}
.ketnoi .nav-ketnoi-l iframe{
	width: 100%;
}
.register-dt .col-md-6{
	float: right;
}
.main-new .item-new .image{
	width: 50%;

}
.main-new .item-new .nav-image{
	width: 50%;
	padding-left: 10px;
}
}
@media only screen and (max-width: 812px){

}

@media only screen and (max-width: 736px){
.top-header{
	height: auto;
}
.traditional-home .nav-traditional .item .image img{
	height: auto;
}
.video-second{
	margin-top: 20px;
}
.video-second .item-vd .video-l iframe{
	height: 200px;
}
.video-second .item-vd .video-r{
	height: 200px
}
.top-footer{
	padding-top: 15px;
}
.traditional-image .traditional-home .nav-img .title{
	height: auto;
}
.video-second .item-vd .video-l{
	width: 100%;
}
.video-second .item-vd .video-l img{
	height: 200px;
}
.video-second .item-vd .video-r{
	width: 100%;
	height: auto;
}
.video-home .video-primary .image img{
	height: auto;
}
.register-dt .phone-t{
	    margin-bottom: 0;
    font-size: 20px;
}
.slider-video-sb .img>img{
	height: 200px;
}
.nav-item-sb-blog .item2 .image img{
	    width: 100%;
    height: auto;
}
.nav-item-sb-blog .item2 .nav-image .title{
	height: auto;
}
.nav-item-sb-library .slider-video-sb .img>img{
	height: 230px;
}
.banner-img img{
	height: auto;
}
.banner-img .title-bn{
	font-size: 26px;
}
.new0detail .content-detail-new .left{
	width: 100%;
}
.new0detail .content-detail-new .content1{
	width: 100%
}
}
@media only screen and (max-width: 667px){
.hc-nav-trigger{
	top:17px;
}
.top-content .nav-top-content{
	padding-top: 20px;
}
.nav-top-content .item .desc{
	font-size: 18px;
	padding-top: 5px;
}
.nav-team-teacher{
	padding-top: 20px;
}
.slider-large .left{
	    width: 50%;
    display: inline-block;
    float: left;
    margin-right: 0;
}
.slider-large .right{
	    width: 50%;
    display: inline-block;
    float: right;
}
.slider-large .left img{
	height: 230px;
}
.slider-large .right img{
	height: 230px;
}
.top-footer .item{
	width: 100%;
	padding:0;
	border:0;
	margin: 0;
	margin-bottom: 10px;
}
.top-footer .desc{
	padding-right: 0;
}
.adress-footer .item-adress{
	width: 100%;
}
.register-dt .title-name{
	    margin-top: 8px;
    margin-bottom: 0;
}
.register-dt .title-tv{
	    margin-bottom: 0px;
    font-size: 20px;
}
.register-dt .phone-t{
	font-size: 15px;
}
.register-dt .phone-t i{
	display: none;
}
.register-dt .dktv a{
	    padding: 5px 10px;
    margin-top: 10px;
}
.register-dt .dktv{
	    margin-bottom: 13px;
    text-align: left;
}

}
@media only screen and (max-width: 414px){
	

}