@charset "utf-8";


body {
	font-family: 'BarlowCondensed-Regular';
	/* font-family: 'BarlowCondensed-Medium'; */
}





input,
button,
select,
textarea {
	outline: none;
}

img {
	max-width: 100%;
}

a:hover,
a:focus {
	text-decoration: none;
}

a {
	color: #333;
}

.owl-theme .owl-nav {
	margin-top: 0px !important;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
	margin: 0px !important;
	padding: 0px !important;
}

.owl-prev,
.owl-next {
	margin: 0px !important;
	border-radius: 0px !important;
}

.fl-left {
	float: left !important;
}

.fl-right {
	float: right !important;
}



/* css main slider */
	
#slider-home .owl-prev{position: absolute;top: 50%;left: 55px;transform: translateY(-50%);}
#slider-home .owl-next{
	
position: absolute;
	
top: 50%;
	
right: 55px;
	
transform: translateY(-50%);
}
#slider-home .owl-nav .fa{
	background-color: rgba(51, 51, 51, 0.6);
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
}
.hc-nav-trigger.hc-nav-1{
	display: none!important;
}
.second-nav{
	display: none;
}
/* css header*/
.top-header{
	background:#131a2b;
	height: 26px;
	line-height: 25px;
}
.top-header ul{
	padding:0;
	margin:0;
}
.top-header ul li{
	display: inline-block;
	float: left;
	padding-right: 9px;
	color: #fff;
}
.top-header ul li a{
	font-family: 'BarlowCondensed-Medium';
	font-size: 11px;
	color: #fff;
	text-transform: uppercase;
	padding-right: 9px;
}
.top-header ul li .fa-star{
	    color: #e91c24;
}
.clearfix{
	clear: both;
}
.top-header-right p{
	margin: 0;
	font-size: 14px;
	color: #fff;
}
.top-header-right p span{
	font-family: 'BarlowCondensed-Bold';
}
.top-header-right p img{
	padding-right: 5px;
}
#main-menu{
	background: #bd041b
}
#main-menu .menu>ul{
	margin: 0;
	padding: 0;
	/* display: inline-block; */
}
#main-menu .menu>ul>li{
	display: inline-block;
	float: left;
}
#main-menu .menu>ul>li>a{
	  font-family: 'BarlowCondensed-Medium';
	  color: #fff;
	  font-size: 11px;
	  text-transform: uppercase;
	  text-align: center;
	  display: inline-block;
	  border-left: 1px solid #d91320;
	  border-right: 1px solid #d91320;
	  padding: 15px 0;
}
#main-menu .menu>ul>li>a:hover{
	background: #990820;
}
#main-menu .menu>ul>li:first-child a{
	border-left: 2px solid #d91320;
}
#main-menu .menu>ul>li>a span{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#main-menu .row{
	margin-left: -5px;
	margin-right: -5px;
}
#main-menu .row .col-md-2{
	padding-left: 5px;
	padding-right: 5px;
	width: 14%;
}
#main-menu .row .col-md-10{
	padding-left: 5px;
	padding-right: 5px;
	width: 86%;
}
#main-menu .menu>ul>li>a span.title-menu{
	padding-top: 8px;
}
.logo{
	display: inline-block;
	margin-top: 14px;
}
.logo img{
	width: 130px;
}
#slider-home .item img{
	height: 675px;
}
img{
	object-fit: cover;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
#slider-home  .owl-dot{
	display: inline-block;
	float: left;
	    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    margin:3px;
}
#slider-home  .owl-dots{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 11;
}
#slider-home  .owl-dot.active{
	background: #bd041b;
}
/* css top content*/
.title-title {
	text-align: center;
}
.title-title .title-primary{
	color: #131a2b;
    text-transform: uppercase;
    font-size: 42px;
    font-family: 'BarlowCondensed-Bold';
    display: inline-block;
    position: relative;
    padding-bottom: 25px;
}
.title-title .title-primary:after{
	content: '';
	position: absolute;
	width: 113px;
	height: 5px;
	background: #b30815;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
.top-content{
	padding-top: 27px;
}
.nav-top-content .item .desc{
	    font-family: 'BarlowCondensed-Medium';
	    margin: 0;
	    font-size: 23px;
	    padding-top: 20px;
	    text-transform: uppercase;
}
.nav-top-content .item .desc span{
	  font-family: 'BarlowCondensed-Bold';
}
.nav-top-content .item {
	text-align: center;
}
.top-content .nav-top-content {
	padding-top: 50px;
}
.team-teacher{
	background: #f4f4f4;
	padding-top: 27px;
	padding-bottom: 89px;
	margin-top: 40px;
}
.slider-team  .nav-img{
	    background: #243456;
    padding: 25px;
    text-align: center;
}
.slider-team  .nav-img .name{
	  font-family: 'BarlowCondensed-Bold';
	  font-size: 14px;
	  margin: 0;
	  color: #fff;
	  text-transform: uppercase;
	  padding-bottom: 7px;
}
.slider-team  .nav-img p{
	color: #fff;
	font-size: 12px;
	margin: 0;
}
.slider-team  .item .image img{
	height: 268px;
}
.slider-team  .owl-item:nth-child(2n) .item .nav-img{
	background: #bd041b;
}
.nav-team-teacher{
	padding-top: 35px;
}
.slider-team  .owl-dot{
	display: inline-block;
	float: left;
	    width: 11px;
    height: 11px;
    background: #b0b0b0;
    border-radius: 50%;
    margin:3px;
}
.slider-team  .owl-dots{
	position: absolute;
	bottom: -53px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 11;
}
.slider-team  .owl-dot.active{
	background: #bd041b;
}
.course-home .title-title .title-primary:after{
	display: none;
}
.course-home .desc-primary{
	    font-size: 25px;
	    text-transform: uppercase;
	    position: relative;
	    padding-bottom: 20px;
}
.course-home .title-title .title-primary{
	margin-bottom: 0;
	padding-bottom: 11px;
}
.course-home .desc-primary:after{
	    content: '';
    position: absolute;
    width: 113px;
    height: 5px;
    background: #b30815;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.course-home{
	padding-top: 25px;
}
.nav-course-home .row{
	margin-left: -12px;
	margin-right: -12px;
}
.nav-course-home .row .col-md-3{
	padding-left: 12px;
	padding-right: 12px;
}
.nav-course-home .item img{
	    width: 257px;
    height: 257px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px dotted #c01127;
    padding: 5px;
    display: inline-block;
}
.nav-course-home .item {
	text-align: center;
}
.nav-course-home .item  .image{
	position: relative;
	padding-bottom: 30px;
	/* border-radius: 50%; */
	/* overflow: hidden; */
}
.nav-course-home .item  .image:after{
	content: url('../images/img2.png');
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.nav-course-home .item  .box-item .desc{
	    font-size: 16px;
    margin: 0;
}
.nav-course-home .item  .box-item{
	    padding: 48px 20px 23px 20px;
	    border: 1px dotted #bd051c;
	    position: relative;
	    margin-top: 33px;
}
.nav-course-home .item  .box-item .title{
	    margin: 0;
	    font-size: 20px;
	    font-family: 'BarlowCondensed-Bold';
	    text-transform: uppercase;
	    line-height: 28px;
	    position: absolute;
	    top: -28px;
	    background: #fff;
	    padding: 0 10px;
	    left: 50%;
	    transform: translateX(-50%);
	    height: 59px;
	    overflow: hidden;
}
.nav-course-home .item  .relative-overlay{
	position: relative;
}
.top-student{
	background: url('../images/bg.png');
	margin-top: 60px;
	padding-top: 23px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: 65px;
}
.top-student .title-primary{
	color: #fff;
}
.slider-small a{
	    display: inline-block;
    border: 1px dotted rgba(156, 39, 176, 0);;
    padding: 5px;
}
.slider-small .center a{
	border: 1px dotted #eb1c24;
}
.slider-small  a:hover{
border: 1px dotted #eb1c24;
}
.slider-small a img{
	    width: 100%;
    height: 162px;
}
.slider-large{
	    width: 830px;
	    display: inline-block!important;
}
.top-student .list-img{
	text-align: center;
}
.slider-large  .left{
	    width: 315px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.slider-large  .left img{
	    height: 406px;
}
.slider-large .right{
	 width: calc(100% - 325px);
    display: inline-block;
    float: left;
}
.slider-large .right img{
    height: 406px;
}
.slider-large .item1{
	    display: inline-block;
    width: 100%;
    border: 1px dotted #fff;
    padding: 5px;
}
.slider-large {
	    margin-top: 22px;
}
.slider-large .item .title{
	    font-family: 'BarlowCondensed-Bold';
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    padding-top: 10px;
}
.slider-large .item .desc{
	font-size: 18px;
	color: #fff;
}
.slider-small  .owl-prev{
	    position: absolute;
    left: 0;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%!important;
    top: 50%;
    transform: translateY(-50%);
}
.slider-small  .owl-next{
	    position: absolute;
    right: 0;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%!important;
    top: 50%;
    transform: translateY(-50%);
}
.slider-small {
	padding-left: 50px;
	padding-right: 50px;
}
#ba-desktop .item .nav-img{
	display: none;
}
#ba-desktop .item.active .nav-img{
	display: block;
	    position: absolute;
    left: -54%;
    width: 548px;
}
.before-after{
	background: #f4f4f4;
	padding-top: 24px;
}
#ba-desktop .title{
	    font-size: 22px;
	    font-family: 'BarlowCondensed-Medium';
	    text-transform: uppercase;
	    color: #bd041b;
	    margin-bottom: 0;
}
#ba-desktop .adress{
	font-family: 'BarlowCondensed-Medium';
	font-size: 22px;
	color: #000;
	margin-bottom: 5px;
}
#ba-desktop .desc{
	font-size: 16px;
}
#ba-desktop{
	padding-top: 15px;
}
.slider-mobile .title{
	    font-size: 22px;
	    font-family: 'BarlowCondensed-Medium';
	    text-transform: uppercase;
	    color: #bd041b;
	    margin-bottom: 0;
}
.slider-mobile .adress{
	font-family: 'BarlowCondensed-Medium';
	font-size: 22px;
	color: #000;
	margin-bottom: 5px;
}
.slider-mobile .desc{
	font-size: 16px;
}
.slider-mobile{
	padding-top: 15px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	display: none!important;
}
.slider-mobile .owl-prev{
	    position: absolute;
    top: 27%;
    font-size: 24px;
    left: 0;
}
.slider-mobile .owl-next{
	    position: absolute;
    top: 27%;
    font-size: 24px;
    right:0;
}
.traditional-image .title1{
	    font-family: 'BarlowCondensed-Bold';
	    font-size: 33px;
	    text-transform: uppercase;
	    padding-bottom: 10px;
}
.traditional-image .title1 img{
	    padding-right: 10px;
}
.traditional-image  .traditional-home .nav-img .title{
	    font-family: 'BarlowCondensed-Medium';
	    font-size: 14px;
	    line-height: 19px;
	    height: 38px;
	    overflow: hidden;
	    margin: 0;
	    margin-bottom: 4px;
}
.traditional-image  .traditional-home .nav-img  .desc{
	       margin: 0;
	       font-size: 13px;
	       line-height: 19px;
	       height: 56px;
	       overflow: hidden;
}
 .date{
	    margin-bottom: 0px;
}
.date i{
	    color: #c62539;
    padding-right: 8px;
}
.traditional-home .nav-traditional .item .row{
	margin-left: -13px;
	margin-right: -13px;
}
.traditional-home .nav-traditional .item .row .col-md-4{
	padding-left: 13px;
	padding-right: 13px;
	width: 38%;
}
.traditional-home .nav-traditional .item .row .col-md-8{
	padding-left: 13px;
	padding-right: 13px;
	width: 62%;
}
.traditional-home .nav-traditional .item .image img{
    width: 100%;
    height: 106px;
}
.traditional-home .nav-traditional .item .image{
	overflow: hidden;
}
.traditional-home .nav-traditional .item:hover .image img{
	    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.traditional-home .nav-traditional{
	    border: 1px dotted #c42034;
	    padding: 25px;
}
.traditional-home .nav-traditional .item .image{
	    border: 1px solid #e7e7e7;
	    /* height: 127px; */
	    padding:5px;
	    overflow: hidden;
}
.traditional-home .nav-traditional .item{
	margin-bottom: 17px;
}
.traditional-home .nav-traditional .item:nth-child(3){
	margin-bottom: 0;
}
.slider-img .item1{
	width: calc((100% - 20px) / 2 );
	display: inline-block;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}
.slider-img .item1:nth-child(2n){
	margin-right: 0;
}
.slider-img .item1:nth-child(3){
	margin-bottom: 0;
}
.slider-img .item1:nth-child(4){
	margin-bottom: 0;
}
.slider-img .item1 img{
	width: 100%;
	height: 184px;
}
.image-home .nav-image-home{
	border:1px solid #ddd;
	padding: 25px;
}
.slider-img .owl-prev{
	    position: absolute;
    top: -94px;
    right: 52px;
    background: #f0f0f0;
    color: #b1b1b1;
    width: 42px;
    height: 42px;
    font-size: 28px;
    text-align: center;
    line-height: 42px;
}
.slider-img .owl-next{
	    position: absolute;
    top: -94px;
    right: 0;
    background: #f0f0f0;
    color: #b1b1b1;
    width: 42px;
    height: 42px;
    font-size: 28px;
    text-align: center;
    line-height: 42px;
}
.traditional-image{
	padding-top: 35px;
}
.video-home .video-primary .image img{
	    width: 100%;
	    height: 464px;
}
.video-home .video-primary .image{
	position: relative;
}

.video-home .video-primary .nav-title .title{
	    width: 75%;
	    display: inline-block;
	    float: left;
	    padding-right: 10px;
	    margin: 0;
	    padding-top: 10px;
}
.video-home .video-primary .nav-title .title a{
	 font-family: 'BarlowCondensed-Medium';
     font-size: 16px;
     color: #fff;
}
 .view-fb{
	width: 25%;
	display: inline-block;
	float: right;
	text-align: right;
}
 .view-fb ul{
	margin: 0;
	padding: 0;
	display: inline-block;
}
.view-fb ul li{
	display: inline-block;
	float: left;
	font-size: 13px;
	color: #fff;
	margin-left: 14px;
}
.video-home .video-primary .nav-title{
	    background: #bd041b;
	    padding: 15px 10px;
	    margin-top: -5px;
	    padding-top:;
}
 .view-fb ul li .fa-eye{
	    width: 26px;
	    height: 26px;
	    background: #f66835;
	    color: #fff;
	    line-height: 26px;
	    text-align: center;
	    border-radius: 50%;
	    margin-right: 9px;
}
 .view-fb ul li .fa-facebook-f{
	width: 26px;
	height: 26px;
	background: #1565bc;
	color: #fff;
	line-height: 26px;
	text-align: center;
	border-radius: 50%;
	margin-right: 9px;
}
.video-second .item-vd .video-l{
	width: 50%;
	display: inline-block;
	float: left;
}
.video-second .item-vd .video-r{
	width: 50%;
	display: inline-block;
	float: right;
	background: #243456;
	padding: 10px;
}
.video-second .item-vd .video-l .image{
	position: relative;
}
.video-second .item-vd .video-l img{
	width: 100%;
	height: 118px;
}
.video-second .item-vd .video-r .title{
	    font-family: 'BarlowCondensed-Medium';
    margin: 0;
    line-height: 20px;
    font-size: 14px;
    height: 59px;
    overflow: hidden;
}
.video-second .item-vd .video-r .title a{
	color: #fff;
}
.video-second .item-vd .video-r .view-fb{
	width: 100%;
	text-align: left;
	margin-top: 9px;
}
.video-second .item-vd .video-r .view-fb li{
	margin-left: 0;
	margin-right: 10px;
	color: #7f8188;
}
.video-second .item-vd{
	margin-bottom: 15px;
}
.video-home{
	padding-top: 15px;
}
.video-home .nav-video-home{
	padding-top: 20px;
}
.nav-ketnoi-right .nav-traditional{
	border: 0;
	padding:0;
}
.ketnoi .nav-ketnoi-right  .item .image{
	border: 0;
	padding:0;
}
.ketnoi{
	          background: #f5f5f5;
	          margin-top: 27px;
	          padding-top: 24px;
	          padding-bottom: 50px;
}
.ketnoi.traditional-home .nav-traditional .item .image img{
	height: 120px;
}
#footer-site{
	background: #bd041b;
	padding-top: 55px;
	padding-bottom: 55px;
}
.social-footer ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.social-footer ul li{
	display: inline-block;float: left;
	margin-right: 10px;
}
.social-footer{
	padding-top: 40px;
}
.top-footer .item ul{
	    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-footer .item ul li{
	    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}
.top-footer .item ul li img{
	padding-right: 5px;
}
.top-footer .item{
	width: calc((100% - 20px ) / 2);
	display: inline-block;
	float: left;
	    border-left: 1px solid #fff;
    padding-left: 30px;
}
.top-footer .item:nth-child(2){
	margin-right: 0;
}
.top-footer .item ul li  span{
	  font-family: 'BarlowCondensed-Bold';
}
.top-footer .title-footer {
	    margin-top: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'BarlowCondensed-Bold';
    color: #fff;
}
.top-footer .desc{
	    margin: 0;
    font-size: 18px;
    color: #fff;
    padding-right: 100px;
}
.adress-footer .item-adress{
	width: 25%;
	display: inline-block;
	float: left;
	border-right: 1px dotted #fff;
	padding:15px;
}
.adress-footer .item-adress:nth-child(4){
	border-right: 0;
}
.adress-footer .item-adress .title{
	    font-family: 'BarlowCondensed-Bold';
    font-size: 16px;
    color: #fff;
}
.adress-footer .item-adress .title i{
	    padding-right: 8px;
}
.adress-footer .item-adress  .desc{
	    font-size: 16px;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 0;
}
.adress-footer{
	    border: 1px dotted #fff;
	    border-radius: 12px;
	    margin-top: 30px;
}
.nav-course-home .item .relative-overlay .overlay{
	    background: #bd041b;
    position: absolute;
    
    opacity: 0.9;
    border-radius: 50%;
    width: 247px;
    height: 247px;
    border-radius: 50%;
    left: 10px;
    top: 5px;
    display: none;
}
.nav-course-home .item:hover .overlay{
	display: block;
}
.nav-course-home .item .relative-overlay .overlay a{
	    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    padding: 0 18px;
    height: 35px;
    line-height: 29px;
    border-radius: 18px;
}
.nav-course-home .item .relative-overlay .overlay i{
	    font-size: 13px;
    padding-left: 5px;
}
#main-menu .menu>ul>li>a span.icon{
	height: 30px;
}

.bres ul{
  display: inline-block;
  margin:0;
  padding:0;
}
.bres ul li{
  display: inline-block;
  padding-right: 5px;
}
.bres ul li a{
  padding: 0 10px;
  font-size: 14px;
}
.bres{
  border-bottom: 1px solid #e5e5e5;
  height: 48px;
  line-height: 48px;
  background: #fff;
}
.bres ul li a i{
	padding-right: 6px
}
.banner-img img{
	    width: 100%;
    height: 440px;
}
.banner-img {
	position: relative;
}
.banner-img  .title-bn{
	    background-color: rgba(187,4,27,0.9);
    position: absolute;
    bottom: 0;
    display: inline-block;
    font-size: 64px;
    color: #fff;
    margin: 0;
    padding: 7px 20px;
}
.banner{
margin-bottom: 40px;
}
.contet-child{
	border: 1px solid #e5e5e5;
	padding:30px;
}

/*css main-new*/
.main-new .item-new .image{
	    width: 335px;
    display: inline-block;
    float: left;
}
.main-new .item-new .nav-image{
	    width: calc(100% - 335px);
    display: inline-block;
    float: right;
    padding-left: 35px;
}
.main-new .item-new .nav-image .title{
	    font-family: 'BarlowCondensed-Medium';
	    font-size: 18px;
	    margin: 4px 0;
	    line-height: 23px;
	    height: 46px;
	    overflow: hidden;
}
.main-new .item-new .nav-image .title a{
	color: #bb041b;
}
.main-new .item-new .nav-image .desc{
	    font-size: 12px;
    line-height: 19px;
    margin: 0;
    height: 75px;
    overflow: hidden;
}
.main-new .item-new .nav-image .chitiet{
	border: 1px solid #bf1429;
    padding: 5px 10px;
    display: inline-block;
    font-size: 13px;
    margin-top: 8px;
}
.main-new .item-new .nav-image .chitiet i{
	    color: #bf1429;
    font-size: 11px;
    padding-left: 7px;
}
.main-new .item-new .nav-image .line{
	padding-top: 14px;
}
.main-new .item-new .image img {
	    width: 100%;
    height: 224px;
}
.main-new .item-new{
	margin-bottom: 45px;
}
.main-new .item-new:last-child{
	margin-bottom: 0;
}
.sidebar .item-sidebar .title-sb{
	      margin: 0;
    font-family: 'BarlowCondensed-Bold';
    font-size: 20px;
    text-transform: uppercase;
    background: #bb041b;
    padding: 0 10px;
    color: #fff;
    height: 52px;
    line-height: 52px;
}
.sidebar .item-sidebar .title-sb img{
	    display: inline-block;
    float: left;
    padding-right: 5px;
    padding-top: 10px;
}
.slider-kh .item .image{
	    width: 180px;
	    height: 190px;
	    background: #fff;
	    border-radius: 27px 0 27px 0;
	    position: relative;
	    border: 1px solid #ddd;
	    display: inline-block;
}
.sidebar .nav-item-kh{
	background: #f3f3f3;
	padding: 25px 0;
}
.slider-kh .item {
	text-align: center;
}
.slider-kh .item  img{
	    width: 100%;
    position: absolute;
    top: 6px;
    border-radius: 27px 0 27px 0;
    height: 93%;
    left: -7px;
}
.slider-kh .item .title-name{
	    font-family: 'BarlowCondensed-Medium';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 7px;
    margin-bottom: 0;
    color: #bb041b;
}
.slider-kh .item .adress{
	 font-family: 'BarlowCondensed-Medium';
	 font-size: 14px;
	 position: relative;
	 padding-bottom: 7px;
}
.slider-kh .item .desc{
	font-size: 12px;
}
.slider-kh .item .adress:after{
	content: '';
	position: absolute;
	height: 2px;
	width: 52px;
	background: #bb041b;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.slider-kh .item .nav-img{
	    padding: 0 10px;
}
.slider-kh .owl-prev{
	    position: absolute;
    left: 15px;
    top: 24%;
    font-size: 32px;
}
.slider-kh .owl-next{
	    position: absolute;
    right: 15px;
    top: 24%;
    font-size: 32px;
}
.item-sidebar .nav-item-sb-lt .icon{
	width: 20%;
    display: inline-block;
    float: left;
}
.item-sidebar .nav-item-sb-lt .nav-icon{
	    width: 80%;
    display: inline-block;
    float: right;
    padding-left: 30px;
}
.item-sidebar .nav-item-sb-lt{
	border: 1px dotted #c21f33;
}
.item-sidebar .nav-item-sb-lt .desc{
	margin: 0;
}
.item-sidebar .nav-item-sb-lt .desc span{
	 font-family: 'BarlowCondensed-Bold';
}
.item-sidebar .nav-item-sb-lt .item{
	border-bottom: 1px dotted #e4e4e4;
	padding: 13px 20px;
}
.item-sidebar .nav-item-sb-lt .item:last-child{
border-bottom: 0
}
.sidebar .item-sidebar{
	margin-bottom: 20px;
}
.slider-video-sb .icon-video img{
	width: auto!important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.slider-video-sb  .gach{
    height: 27px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: -6px;
    top: 3px;
}
.slider-video-sb .img>img{
	height: 150px;
}
.slider-video-sb .img{
	position: relative;
}
.slider-video-sb .nav-img{
	    background: #eeeeee;
	    padding: 10px;
	    padding-bottom: 38px;
}
.slider-video-sb .nav-img .title{
	
margin: 0;
	
font-family: 'BarlowCondensed-Medium';
	
font-size: 12px;
	
line-height: 21px;
}
.slider-video-sb .view-fb{
	width: 100%;
	text-align: left;
	padding-top: 6px;
}
.slider-video-sb  .view-fb ul li{
	padding-left: 0;
	padding-right: 10px;
	color: #000;
	margin-left: 0;
}
.slider-video-sb .view-fb ul li i{
	font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.slider-video-sb .owl-prev{
	    position: absolute;
	    top: -47px;
	    right: 37px;
	    font-size: 27px;
	    color: #fff;
}
.slider-video-sb .owl-next{
	    position: absolute;
	    top: -47px;
	    right: 9px;
	    font-size: 27px;
	    color: #fff;
}
.nav-item-sb-blog .item1 img{
	    height: auto;
	    width: 100%;
}
.nav-item-sb-blog .item1 .date{
	    padding-top: 10px;
}
.nav-item-sb-blog   .title{
	    font-family: 'BarlowCondensed-Medium';
    line-height: 20px;
    margin-top: 5px;
    font-size: 14px;
}
.nav-item-sb-blog .item1{
	padding-bottom: 10px;
}
.nav-item-sb-blog   .item2 .image{
	    width: 45%;
    display: inline-block;
    float: left;
}
.nav-item-sb-blog   .item2 .image img{
	
height: 84px;
}
.nav-item-sb-blog   .item2  .nav-image{
	    width: 55%;
    display: inline-block;
    float: left;
    padding-left: 10px;
}
.nav-item-sb-blog   .item2  .nav-image .title{
	    margin-top: 0;
    height: 61px;
    overflow: hidden;
    margin-bottom: 2px;
}
.nav-item-sb-blog   .item2 {
	padding-bottom: 15px;
}
.nav-item-sb-library{
	padding: 15px;
	border: 1px solid #ddd;
}
.nav-item-sb-library .slider-video-sb .img>img{
	height: 190px;
}
.nav-item-sb-library .slider-video-sb .owl-prev{
	top:-64px;
}
.nav-item-sb-library .slider-video-sb .owl-next{
	top:-64px;
}
.nav-page{
	text-align: right;
}
.register-dt{
	background: url('../images/bg1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 42px;
}
.register-dt .logo-tv{
	    padding-top: 30px;
    text-align: center;
}
.register-dt  .title-name{
	    font-family: 'BarlowCondensed-Bold';
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.register-dt .title-tv{
	    color: #ffff00;
    font-size: 25px;
    font-family: 'BarlowCondensed-Medium';
    text-transform: uppercase;
}
.register-dt .phone-t{
	    color: #fff;
    font-family: 'BarlowCondensed-Medium';
    font-size: 25px;
}
.register-dt .phone-t i{
	    width: 30px;
	    height: 30px;
	    border-radius: 50%;
	    line-height: 30px;
	    font-size: 17px;
	    text-align: center;
	    color: #f0c810;
	    border: 1px solid #f0c810;
	    margin-right: 7px;
}
.register-dt .dktv a{
	background: #ffcd08;
    color: #000;
    font-family: 'BarlowCondensed-Bold';
    text-transform: uppercase;
    font-size: 15px;
    padding: 8px 25px;
    display: inline-block;
    border-radius: 7px;
}
.register-dt .dktv{
	text-align: center;
	MARGIN-BOTTOM: 25px;
}
#myModal .modal-dialog{
	width: 420px;
}
#myModal .modal-header{
	     background: #ff8901;
    padding: 14px 15px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
#myModal .modal-header .title{
	    margin: 0;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 7px;
}
#myModal .modal-content{
	border-radius: 10px;
}
#myModal .modal-content form input[type=text]{
	    width: 100%;
    height: 45px;
    border: 1px solid #e6e6e6;
    background: #eeeeee;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#myModal .click-register{
	    background: #2aa7df;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
}
#myModal .click-register button{
	    text-transform: uppercase;
    color: #fff;
    font-family: 'BarlowCondensed-Bold';
    font-size: 16px;
	background: transparent;
	border: 0px;
}
#myModal .click-register button img{
	    padding-right: 5px;
}
#myModal  .note{
	    font-family: 'BarlowCondensed-Bold';
	    margin: 0;
	    padding-top: 15px;
	    text-align: center;
	    font-size: 17px;
}
#myModal .close{
	    position: absolute;
    right: -14px;
    top: -14px;
    background: #fff;
    opacity: 1;
    width: 40px;
    height: 40px;
    color: #bb041a;
    font-size: 38px;
    text-align: center;
    border-radius: 50%;
}
.main-detail-new{
	background: #f5f5f5;
}
.new0detail.main-new{
	margin-top: 22px;
}
.new0detail .contet-child{
	background: #fff;
	margin-bottom: 20px;
}
.new0detail .sidebar .nav-item-kh{
	background: #fff;
}
.new0detail .item-sidebar .nav-item-sb-lt{
background: #fff;
}
.new0detail  .nav-item-sb-vdeo{
	background: #fff;
}
.new0detail .slider-video-sb .nav-img{
	background: #fff;
}
.titleprimary{
	    font-family: 'BarlowCondensed-Medium';
	    font-size: 25px;
	    margin-top: 0;
}
.new0detail .content-detail-new .left{
	    width: 10%;
    display: inline-block;
    float: left;
}
.new0detail .content-detail-new .content1{
	    width: 90%;
    display: inline-block;
    float: right;
}
.new0detail .content-detail-new .left .binhluan{
	    width: 83%;
	    text-align: center;
	    background: #97a2ae;
	    padding: 5px;
	    font-size: 17px;
	    text-transform: uppercase;
	    position: relative;
	    border-radius: 5px;
}
.new0detail .content-detail-new .left .binhluan span{
	color: #fff;
}
.new0detail .content-detail-new .left .binhluan>img{
	    position: absolute;
    bottom: -10px;
    left: 14px;
}
.new0detail .content-detail-new .left .home-con i{
	    width: 35px;
    height: 35px;
    border: 1px solid #e4550f;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    background: #e9733a;
    color: #fff;
    margin-top: 27px;
}
.new0detail .content-detail-new .left  .fb-con i{
	 width: 35px;
	 height: 35px;
	 border: 1px solid #213570;
	 text-align: center;
	 line-height: 35px;
	 border-radius: 50%;
	 background: #3f5083;
	 color: #fff;
	 margin-top: 12px;
}
.new0detail .content-detail-new{
	    border-top: 1px solid #ddd;
    padding-top: 26px;
    margin-top: 20px;
}
.red{
	color: #bb041b;
}
.new0detail  .register-dt{
	margin-bottom: 20px;
}
.new0detail  .note-view{
	    font-size: 17px;
    padding-bottom: 15px;
}
.other-new .traditional-home .nav-traditional{
	    border: 0;
    padding: 0;
}
.other-new  .traditional-home .nav-traditional .item .image{
	border: 0;
	padding:0;
}
.other-new .traditional-home .nav-traditional .item .image img{
	height: 115px;
}
.main-detail-new .other-new{
	padding-bottom: 63px;
}
.icon-video1{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}
.icon-video1 a{
	display: inline-block;
}
.icon-video1 img{
	width: auto!important;
	height: auto!important;
}
.main-new.main-video .item-new .image{
	position: relative;
}
.main-new.main-video .view-fb{
	width: 100%;
	text-align: left;
	padding-top: 6px;
}
.main-new.main-video  .view-fb ul li{
	padding-left: 0;
	padding-right: 10px;
	color: #000;
	margin-left: 0;
}
.main-new.main-video .view-fb ul li i{
	font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.main-new.main-video .item-new .nav-image .desc{
	clear: both;
}
.main-detail-video{
	background: #000;
	padding-top: 95px;
	padding-bottom: 25px;
}
.main-detail-video iframe{
	width: 100%;
	height: 650px;
}
.main-detail-video .primary-video .title{
	    font-family: 'BarlowCondensed-Bold';
	    color: #fff;
	    font-size: 21px;
	    margin-top: 0;
}
.main-detail-video .share-video ul{
	display: inline-block;
	margin: 0;
	padding:0;
}
.main-detail-video .share-video{
	text-align: right;
}
.main-detail-video .share-video ul li{
	display:inline-block;
	float: left;
	margin-left: 10px;
	background: #0d0d0d;
	padding: 5px 10px;
	border-radius: 3px;
}
.main-detail-video .share-video ul li a{
	color: #838383;
}
.main-detail-video .share-video ul li i{
	padding-right: 5px;
}
.main-detail-video .date{
	color: #fff
}
.main-detail-video .date-share{
	padding-top: 10px;
	padding-bottom: 8px;
}
.main-detail-video .desc{
	    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
.main-detail-video .item-video-dt .image{
	    width: 40%;
    position: relative;
    display: inline-block;
    float: left;
    border-radius: 15px;
}
.main-detail-video .item-video-dt .nav-image{
	width: 60%;
    display: inline-block;
    float: right;
    padding-left: 10px;
}
.main-detail-video .item-video-dt .image img{
	    width: 100%;
	    height: 83px;
	    border-radius: 8px;
}
.main-detail-video .item-video-dt  .icon-video1 img{
	    width: 42px!important;
}
.main-detail-video .item-video-dt .title{
	    font-family: 'BarlowCondensed-Medium';
    margin: 0;
    font-size: 13px;
    line-height: 19px;
    height: 40px;
    overflow: hidden;
}
.main-detail-video .item-video-dt:last-child{
	    margin-bottom: 0px;
}
.main-detail-video .item-video-dt .title a{
	color: #fff;
}
.main-detail-video.main-new.main-video  .view-fb ul li{
	color: #666;
}
.main-video   .item-video-dt{
	margin-bottom: 10px;
}
.main-video  .list-vide0{
	    background: #1a1a1a;
	    padding: 20px;
	    height: 300px;
	    overflow: auto;
	    border-radius: 8px;
}

/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px #fff;
	border-radius: 10px;
	background-color: #333333;
}

#style-2::-webkit-scrollbar
{
	width: 5px;
	background-color: #333333;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px #4d4d4d;
	background-color: #333333;
}
.main-video  .nav-detail-vide{
	margin-top: 33px;
}
.main-baihoc .titleprimary{
	    font-family: 'BarlowCondensed-Medium';
    font-size: 48px;
    color: #bb041b;
}
.main-baihoc .mean{
  font-family: 'BarlowCondensed-Medium';
  font-size: 27px;
}
.nav-baihoc .item-baihoc .title{
	    font-family: 'BarlowCondensed-Bold';
    font-size: 21px;
    color: #bb041b;
    text-transform: uppercase;
}
.nav-baihoc .item-baihoc p{
	font-size: 18px;
}
.nav-baihoc .item-baihoc{
	position: relative;
	padding-left: 40px;
}
.nav-baihoc .item-baihoc:before{
	content: url('../images/icon5.png');
	position: absolute;
	top:0;
	left: 0;
}
.nav-baihoc .item-baihoc span{
	font-family: 'BarlowCondensed-Bold';
}
.main-baihoc .course-home .title-title11{
	background: url('../images/line3.png');
	background-repeat: repeat-x;
	position: relative;
	text-align: left;
	margin-bottom: 31px;
}
.main-baihoc .course-home .title-title .title-primary{
	    margin: 0;
    background: #fff;
    margin-top: -19px;
    padding-right: 10px;
}
.main-baihoc .course-home .title-title .title-primary img{
	    padding-right: 10px;
}
.main-baihoc .before-after{
	margin-top: 40px;
}
#main-menu .menu{
	position: relative;
}
#main-menu .menu .sub-menu{
	    position: absolute;
	    width: 100%;
	    left: 0;
	    z-index: 11;
	    background: #fff;
	    top: 95px;
	    padding: 15px;
	    visibility: hidden;
	    opacity: 0;
	    -webkit-transition: all 0.7s ease;
	    transition: all 0.7s ease;
}
#main-menu .menu ul li:hover .sub-menu{
	visibility: visible;
	opacity: 1;
	top: 83px;
}
#main-menu .menu .sub-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#main-menu .menu .sub-menu ul li{
	    font-size: 14px;
	    border-bottom: 1px solid #ddd;
	    padding-bottom: 5px;
	    margin-bottom: 5px;
	    position: relative;
	    padding-left: 12px;
}
#main-menu .menu .sub-menu ul li:before{
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background: #bd041b;
	top: 8px;
	left: 0;
}
#main-menu .menu .sub-menu ul li:last-child{
	border-bottom: 0;
}
#main-menu .menu .sub-menu .item-sub-menu img{
width: 100%;
height: 205px;
}
#main-menu .menu .sub-menu ul li a:hover{ 
	color: #bd041b;
	  font-family: 'BarlowCondensed-Bold';
 }