@font-face {
  font-family: 'BarlowCondensed-Medium';
  src: url('BarlowCondensed-Medium.ttf');
 
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto-Bold.eot');
  src: url('Roboto-Bold.woff2') format('woff2'),
       url('Roboto-Bold.woff') format('woff'),
       url('Roboto-Bold.ttf') format('truetype'),
       url('Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('Roboto-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('BarlowCondensed-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('BarlowCondensed-Bold.ttf');

  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family: 'UTM Nokia';
  src: url('UTM Nokia.ttf');

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UTM Neutra';
  src: url('UTM Neutra.ttf');

  font-weight: normal;
  font-style: normal;
}


*/







